<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	
	
	<!-- 
		5种作用域  
		   1.singleton   单例   默认
		     	始终保持一个对象  就new一次
		     	容器启动时创建对象
		   2.prototype  非单例
		                 每次都会创建一个新对象
		       	容器启动时不会创建对象 调用对象时创建对象         
		       	 
		       	 
		   //基于http
		   3.request  非单例
		   		   每次都会创建一个新对象
		   4.session  单例  浏览器关闭session消亡
		   		始终保持一个对象  就new一次    
		   5.global session 单例  服务器
		                 始终保持一个对象  就new一次
	 -->
	
<!-- 	<bean id="stuSingleton" 
	      class="com.etoak.bean.Student" 
	      scope="singleton"/> -->
	      
	    <bean id="stuPrototype" 
	      class="com.etoak.bean.Student" 
	      scope="prototype"/>
	
</beans>






