/TinyGirl.class
/player.class
/Warior.class
/Mage.class
/hunter.class
/Hunter.class
/test.class
/Sense.class
/Sence.class
/Create.class
/Save.class
/is.class
/IsDeath.class
/Player.class
/test2.class
